// @font-face {
//     font-family: 'Raleway';
//     src: url('/./assets/fonts/Raleway-Regular.ttf');
// }

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


// .font-raleway {
//     font-family: 'Raleway';
// }
